<div class="background-container">
  <div class="top-line"></div>
  <div class="container-fluid">
      <div class="row mt-2 mb-3 mr-xl-5 ml-xl-5 mr-2 ml-2 landind-row">
        <div class="col-lg-7 pt-lg-5 pb-lg-5 mb-3">
           <div class="container pb-lg-5 pr-lg-5">
              <img src="assets/logo.png" class="nav-logo w-75">

              <div class="process-message text-center mb-5  d-xl-block d-lg-block  d-md-none d-sm-none d-xs-none">
                  <img src="assets/iso_ok.png" class="mr-auto ml-auto d-flex">
                  <span> PEDÍ TU CRÉDITO</span><br>
                  <span> ¡FÁCIL Y RÁPIDO!</span>
              </div>

              <div class="info-container pb-5 pr-5 d-xl-block d-lg-block  d-md-none d-sm-none d-xs-none" style="position: fixed;">
              
                 <div class="badgets-row">
                     <div class="badgets-flex-container">
                     <div class="badgets-button-container">
                         <button mat-fab  aria-label="Example icon button with a delete icon">
                             <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Instagram badget SVG icon"></mat-icon>
                         </button>
                     </div>
                     <div class="badgets-button-container">
                         <button mat-fab aria-label="Example icon button with a bookmark icon">
                             <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Twitter badget SVG icon"></mat-icon>
                         </button>
                     </div>
                     <div class="badgets-button-container">
                         <button mat-fab aria-label="Example icon button with a home icon">
                             <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="facebook badget SVG icon"></mat-icon>
                         </button>
                     </div>
                     </div>
                 </div>
             </div>
           </div>
        </div>
        <div class="col-lg-5 col-md-12 mt-xs-2 pb-md-0 pb-3  p-xl-2 p-md-2 p-sm-2  p-0 ">
              <div class="form-container p-xl-5 p-md-5 p-sm-3 p-xs-2 p-3 pb-5" *ngIf="alreadyValidated" >
                  <h1 class="text-center mt-2">Validación de Identidad</h1>

                  <div class="icon-container text-center">
                    <img src="../../assets/hands.png" class="w-50 icon">
                    <div class="client-message pl-3">
                      <div class="mt-4 white-bold" > La identidad ya fue validada para este proceso.</div>
                    </div>
                  </div>

              </div>
              <div class="form-container p-xl-5 p-md-5 p-sm-3 p-xs-2 p-3 pb-5" *ngIf="!alreadyValidated" >
                   
                  <h1 class="text-center mt-2">Validación de Identidad</h1>

                  <div *ngIf="!isCameraExist" class="white-bold">
                    Lo sentimos, necesitas un dispositivo con camara para poder hacer la validación. 
                  </div>
          
                  <div *ngIf="currentOpportunity.id != undefined && isCameraExist">
                    <div class="content p-3" *ngIf="step == 0">
                      <div class="mb-2 white-bold"> Subí una foto de la imagen del frente de tu DNI. <br> Que sea visible en su totalidad y sin reflejos!</div>
            
                      <div class="file-selected p-2 mb-4 mt-4" *ngIf="fileToUpload != undefined" >
                         <div class="mr-3">{{fileToUpload.name}}</div>
                         <mat-icon aria-hidden="false" aria-label="delete file icon" matTooltip="Remove File Selected" (click)="removeFileIdSelected()" >delete</mat-icon>
                      </div>
            
                      <h3 *ngIf="loadingMessage != undefined" class="text-center">{{loadingMessage}}</h3>
                
            
                      <div class="alert alert-warning mt-3 mb-3 mt-2 " role="alert" *ngIf="checkIdErrorMessage">
                        {{checkIdErrorMessage}}
                     </div>
            
                      <div class="action-buttons d-block mt-4">
                        <div class="form-group" *ngIf="!loading && fileToUpload == undefined">
                          <span>
                            <input type="file"
                                 id="idFileInput"
                                 accept="image/png, image/jpeg"
                                 (change)="handleFileInput($event.target.files)"
                                 >
                          </span>
                          <label for="idFileInput" class="ml-auto mr-auto d-block custom-button">Seleccionar Foto</label>
                        </div>
            
              
                        <div class="custom-button ml-auto mr-auto d-block" (click)="enviarIdImage()" *ngIf="fileToUpload != undefined && !loading" > Enviar </div>
                      
                      </div>
            
                    </div>
            
                    <div class="content p-3" *ngIf="step == 1">
                      <div class="white-bold"> Ya reconocimos tu DNI <br> Ahora necesitamos una foto tuya de frente.</div>
            
                      <div *ngIf="base64FaceImage" class="faceIdContainer mb-4 pt-4">
                        <img src="data:image/png;base64,{{base64FaceImage}}" alt="Face Image" class="photo-captured"/>
                        <div class="custom-button ml-auto mr-auto d-block mt-2" style="border-radius: 0;" (click)="removeBase64FaceImage()"> Eliminar</div>
                      </div>
            
                      <webcam class="cameraView mt-4 mb-4" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                      *ngIf="showWebcam && isCameraExist" [switchCamera]="nextWebcamObservable"></webcam>
            
                      <div class="alert alert-warning mt-3 mb-3 mt-2 " role="alert" *ngIf="checkIdErrorMessage">
                        {{checkIdErrorMessage}}
                      </div>
                
                      <h3 *ngIf="loadingMessage != undefined">{{loadingMessage}}</h3>
            
                      <div class="custom-button ml-auto mr-auto d-block" (click)="takeSnapshot()" *ngIf="base64FaceImage == undefined"> Tomar foto</div>
                      <div class="custom-button ml-auto mr-auto d-block"(click)="enviarFaceImage()" *ngIf="base64FaceImage"> Enviar</div>
                    </div>
                    <div class="content p-3" *ngIf="step == 2">
                      <!--h2> ¡Felicitaciones! <br> Pudimos validar tu identidad. <br> Vas a estar recibiendo un mail con todo el detalle del prestamo.</h2-->
                      <div class="icon-container text-center">
                          <img src="../../assets/iso_ok.png" class="w-25 icon">
                          <div class="client-message pl-3">
                            <div class="mt-4 h5" style="color: black;"> <strong>IDENTIFICACIÓN VALIDADA</strong></div>
                          </div>
                      </div>
                    </div>
          
                  </div>
                
              </div>
        </div>
      </div>
  </div>
  <div class="bottom-progress" *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>

