$primary-dark: #6ba13c;
$primary-acent: #8ec640;
$primary:#a5cf4c;
$primary-light: #ecf3d9;

$seconday-color: #fff799;
$seconday-dark: #fff200;

$input-radius: 0.2em;
$input-padding: 0.2em;

// primary font
//$primary_font: 'ClanPro';
$primary_font: Roboto, "Helvetica Neue", sans-serif;


// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;