@import "../../variables.scss";

#home{
   background-image: url("../../assets/background.png");
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100%;
}

.send-sms-container{
    background-color: white;
    color: black;
}

.sms-code{
    text-align: center;
    min-height: 60px;
    font-size: 24px;
    &:focus{
            outline-color: $primary-acent;
    }
}

.result-container{
    display: inline;
    text-align: left;
    .icon-container{
        display: flex;
        .client-message{
            width: 60%;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
    #logo{
        width: 100% !important;
    }

    .form-container{
        background-color: $primary
    }

    html{
        background-image: url("../../assets/backgroun-mb.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
     }

    #home{
        background-image: none;
    }

    body{
        background-color: transparent;
    }

    .nav-logo{
        margin: 1em auto 1em auto;
        display: flex;
        width: 100%;
    }

    .form-container,body{
        height: fit-content;
    }

    .result-container{
        padding-top: 1em;
        display: block;
        text-align: center;
        .icon-container{
            display: inline;
            .icon{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .client-message{
                width: 100%;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .form-container{
        background-color: $primary
    }
    
    .nav-logo{
        margin: 1em auto 1em auto;
        display: flex;
        width: 100%;
    }
}

.invalid-input{
    border-color: red;
}