@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-BlackItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Bold.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Black.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Cond News';
    src: url('../../fonts/ClanPro/ClanPro-CondNews.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-CondNews.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Cond News';
    src: url('../../fonts/ClanPro/ClanPro-CondNewsItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-CondNewsItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-MediumItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Italic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Medium.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-BoldItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Regular.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Narr News';
    src: url('../../fonts/ClanPro/ClanPro-NarrNewsItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-NarrNewsItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Narr News';
    src: url('../../fonts/ClanPro/ClanPro-NarrNews.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-NarrNews.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro News';
    src: url('../../fonts/ClanPro/ClanPro-NewsItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-NewsItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro News';
    src: url('../../fonts/ClanPro/ClanPro-News.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-News.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Ultra';
    src: url('../../fonts/ClanPro/ClanPro-Ultra.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-Thin.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro Ultra';
    src: url('../../fonts/ClanPro/ClanPro-UltraItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-UltraItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clan Pro';
    src: url('../../fonts/ClanPro/ClanPro-ThinItalic.woff2') format('woff2'),
        url('../../fonts/ClanPro/ClanPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

